.app-footer {
    &-bottom,
    &-main {
        padding: .15rem 0 .25rem;
    }
    &-bottom {
        background: #7b7a7a;
        color: #f9f9f9;

        a{
            color: #f9f9f9;
        }
    }
    &-main {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        background: #4a4a4a;
        color: white;
        a {
            color: white;
        }
        &-icons {
            margin-top: .8rem;
            >span {
                &:last-child {
                    a {
                        &:first-child {
                            margin-right: 0;
                        }
                        &:last-child {
                            margin-left: -3px;
                            background: #000;
                            padding: .3rem .65rem;
                            &:hover,
                            &:focus {
                                background-color: lighten(#000, 3) !important;
                            }
                        }
                    }
                }
                >a {
                    display: inline-block;
                    vertical-align: top;
                    padding: .3rem .4rem;
                    margin: .15rem .25rem;
                    background: #262626;
                    border-radius: 1px;
                    &:hover,
                    &:focus {
                        background-color: lighten(#262626, 10);
                    }
                }
            }
        }
    }
    &-nav {
        ul {
            padding: 0;
            li {
                a {
                    padding: .15rem .35rem;
                }
            }
        }
    }
    &-logo {
        margin: 0 0 1rem 0;
    }

    .contact,
    .social{
        color: white;
        a{
            color: white;
            font-size: 2rem;
            &:hover,
            &:focus{
                color: darken(white, 10);
            }
        }
    }

    .pagos{
        span{
            margin-bottom: 1rem;
            display: block;
        }

        img{
            vertical-align: middle;
        }
    }
}