.social,
.help,
.account,
.contact {
    color: #4a4a4a;
    display: inline-block;
    vertical-align: top;

    a,
    &-link {
        color: #4a4a4a;

        &:hover,
        &:focus{
            color: lighten(#4a4a4a, 10);
            text-decoration: none;
        }
    }
}

.social{
    &-link{
        display: inline-block;
        margin: 0 .5rem;
        transition: transform 200ms ease;

        &:hover,
        &:focus{
            transform: scale(1.1);
        }
    }
}

.contact, .help {
    margin-right: 1.5rem;
}