.content-articles{
    &-row {
        padding-bottom: 4.5rem;
    }

    &-item{
        margin: 4.5rem 0;

        &:first-child{ margin-top: -3.5rem; }
        &:last-child{ margin-bottom: 0; }
        &:nth-child(odd){
            // background: red;

            .description-book{
                padding-left: 1.5rem;
            }
        }
        &:nth-child(even){
            // background: blue;

            .row{
                .col-7{
                    &:first-child{ order: 2; }
                    &:last-child{ order: 1; }
                }
            }
        }

        .description-book{
            display: flex;
            height: 100%;
            line-height: 1;

            h6, h1{
                color: #4a4a4a;
                margin: 0;
            }

            h6{
                font-size: .9rem;
            }

            h1{
                font-size: 2.5rem;
                font-weight: bold;
                line-height: .9;
                margin: .5rem 0;
            }

            span{
                color: #d7d7d7;
                font-size: .75rem;
            }

            button{
                margin-top: 2rem;
                background: #d8d8d8;
                border: none;
                border-radius: 5px;
                color: #4a4a4a;
                padding: .9rem 2rem;
                transition: 150ms;

                &:hover,
                &:focus{
                    transform: scale(1.05);
                    background: darken(#d8d8d8, 10);
                }
            }
        }

    }
}

.bookweek{
    background: #fafafa;
    padding: 3rem 0;

    .title-top{
        font-weight: bold;
        border-bottom: solid 1px #d7d7d7;
        padding-bottom: .7rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;

        .right{
            float: right;
            font-size: 1.15rem;

            a{
                color: #000;

                &:hover,
                &:focus{
                    text-decoration: underline;
                }
            }
        }
    }

    .image-caratula{
        text-align: center
    }
    .description-caratula{
        h1{
            font-weight: bold;
            font-size: 2rem;
            margin-top: .65rem;
        }

        h3{
            font-size: 1rem;
            position: relative;
            padding-left: 34px;

            &:before{
                width: 28px;
                height: 2px;
                background-color: #000;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                content: '';
            }
        }

        .reseña,
        .price{
            display: block;
        }

        .reseña{
            i{
                font-size: .9rem;
                display: inline-block;
                margin: 0 .25rem;
                cursor: pointer;
            }
        }

        .price{
            font-weight: bold;
            font-size: 1.3rem;
            margin: .5rem 0;
        }

        p{
            margin-top: 1.5rem;
            font-size: 1rem;
            color: #444444;
        }
    }
}