@media (max-width: 768px){
    .powered,
    .app-footer-bottom,
    .app-header-top,
    .app-header-top .text-right {
        text-align: center !important;
    }
}
@media (max-width: 575px){
    .app-footer-nav{
        padding-left: 1rem;
    }

    .content-articles-item .description-book {
        padding-left: 1.5rem;
    }
    
    .app-page-title {
        padding: 2rem 0 3.5rem;

        h1{
            font-size: 1.5rem;
        }
    }
    
    .content-articles-item{
        margin: 2.5rem 0;

        &:first-child {
            margin-top: -1.5rem;
        }
        
        .description-book {
            h1 {
                font-size: 1.5rem;
            }

            button {
                margin-top: 1.2rem;
                padding: .45rem 1rem;
            }
        }
        
    }

    .bookweek .description-caratula {
        h1 {
            font-size: 1.5rem;
        }
    }

    .button-close {
        position: absolute;
        bottom: .6rem;
        right: 1.3rem;
        overflow: hidden;

        a {
            color: white;
            font-size: 2rem;
            padding: 1rem .8rem;
        }
    }

    .content-menu-mobile{
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 2;
        overflow: hidden;
        border-radius: 50%;
        background: #3c3838;
        box-shadow: 0 0 2px rgba(white, .5);
        
        a{
            color: white;
            font-size: 1.5rem;
            padding: 1rem .8rem;
        }
    }

    #main-menu{
        position: fixed;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        background: rgba(25, 25, 25, 0.85);
        top:0;
        left:0;
        transform: translate(-100%, 0%);
        transition: 300ms;
        display: flex;
        justify-content: center;
        align-items: center;

        ul{
            text-align: left;

            li{
                display: block;
                margin: .5rem 0;

                a{
                    color: white;
                    font-size: 1.3rem;
                    position: relative;
                    padding-left: 30px;
                    transition: 200ms;

                    &:hover,
                    &:focus{
                        text-indent: 3px;
                    }

                    &:before{
                        width: 25px;
                        height: 2px;
                        background: white;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        content: '';
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
        
        &:target{
            transform: translate(0%, 0%);
        }
    }
    
}

@media (max-width: 400px){

    .app-header-main-icons>span>a {
        padding: .15rem .2rem;
        font-size: .8rem;
    }

    .app-header-main-icons>span:last-child a:last-child {
        padding: .15rem .33rem;
    }
}

@media (max-width: 360px) {
    .contact,
    .help {
        margin-right: 0;
    }
}